<div class="panel panel-info" 
     style="height: 200px;overflow: hidden">
    <div class="panel-heading">
        {{header}}
    </div>
    <div class="panel-body" style="height: 100%; overflow: hidden">
        <div class="widget-content" 
             style="position: relative;">
            <div style="position: absolute;">
                {{content}}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        +function() {
            $('.widget-content').each(function() {
                new IScroll(this, {
                    mouseWheel: true,
                    scrollbars: true,
                    click: true,
                });
            });
        }();
    </script>
</div>
