/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2014, 3:25:40 PM
    Author     : freesrc
*/
// @import url('http://fonts.googleapis.com/css?family=Roboto');

html, body {
    height: 100%;
    margin:  0;
    padding:  0;
}

#wrapper {
    margin:  0;
    padding:  0;
    height: 100%;
    position: relative;
    border: solid 1px #c0c0c0;
    background-color: rgba(128,128,128,0.05);
    font-family: 'Roboto';
}

#main {
    padding: 15px 0;
    margin:  0;
    height: 100%;
}

#event-hub {
    display: none;
}

#debug-info {
    position: fixed;
    width: auto;
    display: table;
    bottom: 0px;
    height: 25px;
    background-color: rgba(0,0,200,0.2);
    font-size: 14px;
    text-align: right;
    padding: 0 5px;
}

#client-size {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#options {
    background-color: rgba(0,0,100,0.0);
    position: relative;
}

#view {
    background-color: rgba(128,128,128,0.025);
    padding: 0 10px;
}

.view-content {
    margin-top: 10px;
    margin-bottom: 40px;
}

.view-content .table-container {
    overflow-x: auto;
    margin: 5px 0;
}

.view-content .table-container table {
    width: 100%;
    padding: 5px 0;
}

.view-content .paging,
.view-content .paging > li {
    display: inline;
}

.view-content .paging > li {
    padding: 0 4px;
}

.view-content .paging > li > * {
    width: auto;
}

.view-content .paging > li > span {
    font-weight: bold;
    color: slategray;
}

.view-content .paging > li > input[type='number'] {
    width: 50px;
}

@media (min-width: 768px) {
    #options-container {
        position: fixed; 
    }
}
