{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% if last_conferences %}
    <ul>
    {% for conf in last_conferences %}
        <li><a href="{% url 'teamdiary:detail' conf.id %}">{{ conf.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Conferences are available.</p>
{% endif %}
