<div>
    <style scoped="scoped">
        paging {
            display: inline-block;
            width: 100%;
        }
        
        table {
            background-color: whitesmoke;
        }
        
        .table-responsive {
            overflow-x: auto;
        }
        
        table thead th.index-column {
            border-right: 1px solid rgba(128,128,128,0.1);
            width: 40px;
        }
        table thead th.normal-column {
            border-right: 1px solid rgba(128,128,128,0.1);
        }

        table thead th.normal-column > div {
            width: 100%;
            vertical-align: middle;
            display: table;
        }

        table thead th.normal-column > div > * {
            display: table-cell;
        }

        table thead th.normal-column > div > *.left {
            text-align: left;
        }
        table thead th.normal-column > div > *.right {
            text-align: right;
        }

        table tbody tr.selected td{
            background-color: rgba(0,100,200,0.1);
        }
    </style>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="index-column">#</th>
                    {{#each source.fields}}
                    <th class="normal-column truncate">
                        <div>
                            <div class='left header'>{{header}}</div>
                            {{#if hasSorting}}
                            <div class='right'>
                                {{#if sorting.asc }}
                                <i class="glyphicon glyphicon-chevron-up"></i>
                                {{else}}
                                <i class="glyphicon glyphicon-chevron-down"></i>
                                {{/if}}
                            </div>
                            {{/if}}
                        </div>
                    </th>
                    {{/each}}
            </tr>
            </thead>
            <tbody>
                {{#each source.pagedItems}}
                <tr>
                    <td>{{rowIndex source.paging.pageSize source.paging.currentPage @index}}</td>
                    {{#rowToArray . source.fields}}
                    <td class="{{#if isKey}}row-id{{/if}}">{{value}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <paging paginate="source.paging">
    </paging>
    {{#if selectedRow}}
        <hr/>
        <div {{renderSelectedRow editTemplate}}></div>
    {{/if}}
    <script type="text/javascript">
    </script>
</div>

