<div>
    <ul class="list-unstyled list-inline pull-right paging">
        <li>
            <span>Page</span> <input type="number" can-value="paginate.currentPage" min="1" max="{{paginate.totalPages}}" step="1"/>
            &nbsp;
            <span>From</span> <b>{{paginate.totalPages}}</b>
        </li>
        <li>
            <span>Items</span>
            <select can-value="paginate.pageSize">
                {{#each paginate.allowedSizes}}
                <option>{{.}}</option>
                {{/each}}
            </select>
        </li>
        <li>
            <button class="btn btn-default {{^paginate.canFetchPrev}}disabled{{/paginate.canFetchPrev}}" 
                    can-click="paginate.fetchFirst"
                    {{^paginate.canFetchPrev}}disabled{{/paginate.canFetchPrev}}>
                    <i class="glyphicon glyphicon-backward"></i>
            </button>
        </li>
        <li>
            <button class="btn btn-default {{^paginate.canFetchPrev}}disabled{{/paginate.canFetchPrev}}" 
                    can-click="paginate.fetchPrev"
                    {{^paginate.canFetchPrev}}disabled{{/paginate.canFetchPrev}}>
                    <i class="glyphicon glyphicon-step-backward"></i>
            </button>
        </li>
        <li>
            <button class="btn btn-default {{^paginate.canFetchNext}}disabled{{/paginate.canFetchNext}}" 
                    can-click="paginate.fetchNext"
                    {{^paginate.canFetchNext}}disabled{{/paginate.canFetchNext}}>
                    <i class="glyphicon glyphicon-step-forward"></i>
            </button>
        </li>
        <li>
            <button class="btn btn-default {{^paginate.canFetchNext}}disabled{{/paginate.canFetchNext}}" 
                    can-click="paginate.fetchLast"
                    {{^paginate.canFetchNext}}disabled{{/paginate.canFetchNext}}>
                    <i class="glyphicon glyphicon-forward"></i>
            </button>
        </li>
        
    </ul>
</div>