<form action='#' class="form">
    <style scoped="scoped">
        .actions {
            display: table;
            width: 100%;
            text-align: right;
        }
        .actions button {
            display: table-cell;
            margin: 0 5px;
        }
        .form-group label {
        }
    </style>
    <div class="form-group">
        <label for="username">User Name</label>
        <input id="username" 
               class="form-control"
               type="text" 
               can-value='Username'>
    </div>    
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" 
               class="form-control"
               type="password" 
               can-value='password'>
    </div>    
    <div class='form-group pull-right'>
        <button class="btn btn-default" can-click='save'>Update</button>
        <button class="btn btn-default" can-click='destroy'>Delete</button>
    </div>
</form>